:root{
    --background-color: #fff;
    --text-color: #000;
    --light-color: rgb(219, 218, 218); 
    --light-dark-color: rgb(70, 69, 69);
}

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    background-color: var(--background-color);
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23414142' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.nav{
    width:2200px;
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
    margin-top: 10px;
}

.nav .logo{
    font-size: 30px;
}

.main{
    margin: auto;
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: var(--light-color);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin-top: 0;
    margin-right: 20px;
    margin-left: 20px;
}

.main .input-fields .number{
     padding: 15px;
     width: 300px;
     background: transparent;
     border: none;
     border: 1px solid var(--text-color);
     border-radius: 4px;
     font-size: 1.3rem;
     margin-bottom: 10px;
     
}
.main .input-fields .number:focus{
     padding: 15px;
     width: 300px;
     background: transparent;
     border: none;
     border: 1px solid var(--text-color);
     border-radius: 4px;
     outline: none;
     color: var(--text-color);
}

.main .input-fields .verify-btn{
    padding: 15px;
    width: 90px;
    background: red;
    border: none;
    border: 1px solid rgb(66, 14, 14);
    border-radius: 4px;
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
}
.main .input-fields .verify-btn:hover{
    padding: 15px;
    width: 90px;
    background: rgb(22, 22, 22);
    border: none;
    border: 1px solid rgb(19, 19, 19);
    border-radius: 4px;
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
}

.not-number, .number-too-short{
    color: red;
}

.header{
    color: red;
}

.subheader{
    color: var(--text-color);
}

.data p{
    padding: 15px;
    background: var(--light-dark-color);
    border-radius: 4px;
}

p{
    color: whitesmoke;
    font-weight: normal;
}

h3{
    font-size: 100px;
}


@media screen and (max-width: 600px) {
    h3 {
        font-size: 50px;
    }

    .main{
        margin: 10px;
    }

    .nav{
        width: 600px;
    }
}

.dark-mode{
    --background-color: rgb(26, 25, 25);
    --text-color: rgb(207, 207, 207);
    --light-color: rgb(63, 62, 62); 
    --light-dark-color: rgb(22, 22, 22);

    background-color: var(--background-color);
    color: var(--text-color);

}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }